h1 {
    font-size: 26px;
}

.tags {
    overflow: hidden;
    zoom: 1;
    .tag-list {
        width: auto;
        display: inline;
        .tag {
            display: inline-block;
            zoom: 1;
            cursor: pointer;
            padding: 1px 10px;
            margin: 0 3px 5px 0;
            color: #666;
            font-size: 14px;
            border-radius: 2px;
            background: none;
        }
        .tag :focus {
            background: #4b8ccb;
        }
        .active {
            background: #4b8ccb;
            color: #fff;
        }
    }
}

.videos {
    margin-top: 20px;
    width: 100%;
    a {
        display: block;
        float: left;
        color: #37a;
        font-size: 13px;
        text-align: center;
        margin: 0 25px 10px 0;
        width: 115px;
        .cover-wp {
            background-size: 100%;
            width: 100%;
            height: 161px;
            overflow: hidden;
            img {
                border-width: 0;
                vertical-align: middle;
                max-width: 100%;
            }
        }
        p {
            margin: 5px 0 0;
            height: 44px;
            overflow: hidden;
            .green {
                color: #58a05a;
                .new {
                    opacity: 1;
                    position: relative;
                    top: -2px;
                }
            }
            strong {
                color: #e09015;
            }
        }
    }
}
